@tailwind base;
  @tailwind components;
  @tailwind utilities;

  
  @font-face {
    font-family: "logo";
    src: url("../public/font/Oval/Oval-Trial-Regular.ttf");
  }
  
  @font-face {
    font-family: "roboto-regular";
    src: url("../public/font/roboto/Roboto-Regular.ttf");
  }

  @font-face {
    font-family: "ibm-plex-sans";
    src: url("../public/font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
  }

  
  @font-face {
    font-family: "jakarta";
    src: url("../public/font/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf");
  }


  @font-face {
    font-family: "marcellus";
    src: url("../public/font/Marcellus/Marcellus-Regular.ttf");
  }

  @font-face {
    font-family: "dm serif";
    src: url("../public/font/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
  }

  @font-face {
    font-family: "satoshi-medium";
    src: url("../public/font/satoshi/Satoshi-Medium.woff");
  }
  
  @font-face {
    font-family: "satoshi";
    src: url("../public/font/satoshi/Satoshi-Regular.woff");
  }
  
  
  /* html {
    scroll-behavior: smooth;
  } */

  
@layer base {
 
  body {
    @apply   text-dark bg-white;
  }
}

@layer utilities {

  .prose-custom{
    @apply prose-lg xl:prose-xl text-[#292929];
  }
  .section {
    @apply py-[55px] lg:py-[100px];
  }

  .section-light {
    @apply py-[55px] lg:py-[70px];
  }
  
  .h1 {
    @apply text-[42px] lg:text-[62px]  xl:text-[80px]  
           tracking-tighter xl:tracking-tighter leading-none font-marcellus;
  }

  .h2 {
    @apply text-[42px]  lg:text-[55px] xl:text-[70px] leading-none font-marcellus
    tracking-tighter xl:tracking-tighter text-secondary ;
  }
 

  .h3 {
    @apply text-[20px] lg:text-[30px] xl:text-[40px] 2xl:text-[60px] text-secondary  font-marcellus ;
  }

  .h4 {
    @apply text-[20px] lg:text-[23px]  2xl:text-[26px]  
           tracking-normal  leading-relaxed;
  }

  
  /* clinique */
  .h1c {
    @apply text-[71.5px] lg:text-[82.5px] xl:text-[110px] tracking-tight leading-none font-satoshi_medium
  }

  .h2c {
    @apply text-[52.5px] lg:text-[59.5px] xl:text-[70px] tracking-tight leading-none font-satoshi_medium
  }

  .h3c {
    @apply text-[30.4px] lg:text-[32.3px] xl:text-[38px] font-satoshi_medium
  }

  

  .subcontainer {
    @apply flex  mx-auto  px-5 lg:px-14 xl:max-w-7xl;
  }

  .subcontainerXl {
    @apply flex  mx-auto  px-5 lg:px-14 xl:px-10 xl:max-w-[1400px];
  }

  /* .btn {
    @apply    text-base  uppercase px-3
    transition-all duration-500 flex items-center 
    text-white bg-[#508D4E] hover:text-botella
    rounded-2xl
    ;
  } */
  /* .btn {
    @apply   border-2 border-black text-lg tracking-[0.08em] uppercase px-[40px] 
    transition-all duration-500 flex items-center gap-x-[10px]
    text-black hover:bg-botella_claro hover:text-botella
    rounded-md
    ;
  } */
  
}

